.header
  .navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      .container
        = link_to 'The Great Game', root_path, class: 'brand'
        %ul.nav
          %li= link_to "Rules", root_path
          %li= link_to "Agencies", root_path

